

/*
    1- common styles
    2- general styles
    3- sections
        3.0 header
        3.1 home
*/



/*
    common

    -overlay
    - container
    - opacity hover
    - section header
    - section padding
    - hover effect 1 from left to right
    - hover effect 2 from up to down

*/



/* common styles */
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 22, 33, .6);
}

.ltr-effect{
    position: relative;
}

.ltr-effect:after{
    position: absolute;
    content: "";
    z-index: -1;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    transition: .5s width;
    background: #333;
}

.ltr-effect:hover:after{
    width: 100%;
}





/* general styles */
h1, h2, h3, h4, h5 {
    font-family: montserrat, sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Varela Round', sans-serif;
}


button{
    font-family: 'Varela Round', sans-serif;
}

.hover-opacity{
    transition: opacity .5s;
}

.hover-opacity:hover{
    opacity: 0.8;
}

/* section header */

.pd-y{
    padding: 120px 0;
}
.section-header{
    text-align: center;
    margin: 100px;
}
.section-header .section-title{
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 10px ;

}

.section-header .line {
    display: block;
    width: 50px;
    height: 3px;
    background-color: #619ff6;
    margin: 0 auto 70px auto;
}



/* sections */



/* header styles */

.header{
    position: fixed;
    width: 100%;
    z-index: 1  ;
}

.container{
    width: 80%;
    margin: auto;
}

/*
    to solve overflow problem that is caused by floating childs
*/
.avoidOverflow{
    clear: both;
}

.header{

    background-color:rgba(0, 0, 0, .3)
}

.header .logo{
    float:left;
    width: 40%;
}

.header .logo img{
    width: 25%;
    padding-top: 8px;
 }

.header .nav{
    float:left;
    width: 60%;
    list-style: none;
    padding-left: 50px;
    text-align: right ;
}

.header .nav > li {
    display: inline-block;
    padding: 10px;
}

.header .nav > li >   a {
    text-decoration: none;
    color: white;
    display: block;
    padding-top: 15px;
    padding: 15x;
    font-size: 15px;
    margin-right: 5px;
    
}

.header .nav > li> a:after{
    content: "";
    width: 0;
    height: 3px;
    background-color: #619ff6;
    display: block;
}

.header .nav > li >a:hover:after{
    width: 100%;
    transition: 0.3s;
}

.dropdown{
    position: relative;
    margin-bottom: 2px;
    display: block;
}


.dropdown-menu{
    position: absolute;
    background-color: #619ff6;
    text-align: center;
    width: 150px;
    top: 100%;
    list-style: none;
    opacity: 0;
    visibility: hidden;
}

.dropdown-menu a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;
}


/* home section */

.home{
    height: 100vh;
    background-image: url(../images/background/background1.webp);
    background-size: cover;
    position: relative;
}

.home-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 70%;
}
.home-content .title{
    text-transform: uppercase;
    margin: 15px;
    font-size: 3rem;
    color: white;
}

.home-content .title-discription{
    text-transform: uppercase;
    margin: 10px;
    color: white;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    line-height: 20px;
    
}
.btn{
    width: 150px;
    padding: 15px;
    border-radius: 7px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
}

.firBtn{
    background-color: white;
    margin-right: 10px;
}

.secBtn{
    background-color: #619ff6 ;
    color: white;
}


/* about section */

.about-item:hover .about-item-title{
    color: white;
}

.about-item{
    width: 30%;
    float: left;
    text-align: center;
    border: 1px solid #e8e8e8;
    padding: 40px 20px;
}

.mid{
    margin: 0 5%;
} 

.about-item .icon{
    color: #619ff6;
    margin-bottom: 10px;
}

.about-item-title{
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 12px;
    transition: 0.5s color;
}

.about-item-description{
    font-size: 20px;
    margin-bottom: 10px;
    color: #8999;
    line-height: 1.1    ;
}

.about-item-link{
    text-decoration: none;
    color: #619ff6;
}

.about{
    margin-bottom: 200px;
}

/* protfolio section */

.protfolio-content{
    background: #f9f9f9;
}

.protfolio-item{
    width: 30%;
    float: left;
    margin-bottom: 50px;
    position: relative;
    padding: 20px;
}

.protfolio-item img{
    width: 100%;
}

.protfolio-item .layer-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}

.protfolio-item:hover .layer-content{
    opacity: 1;
    visibility: visible;
}
.protfolio-item:hover .layer-content-title {
    margin-bottom: 1px;
    margin-top: 1px;
} 


.layer-content .layer-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
}

.layer-content .layer-content-category{
    color: #619ff6;
    font-size: 20px;
    margin-bottom: 12 px;
    display: block;
    text-transform: uppercase;
}

.layer-content .layer-content-title{
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: margin-bottom 0.5s;
    transition: margin-top 0.5s;
}

.layer-content a{
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: #619ff6;
    padding: 5px 7px;
}

